/**
 * @重置样式
 */
@charset 'utf-8';
/* CSS reset */
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,form,fieldset,input,button,textarea,p,blockquote,th,td{
	padding:0;
	margin:0;
}
a{
	text-decoration: none;
}
ul{
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
input[type="text"],input[type="password"],input[type="tel"],input[type="number"],input[type="search"],textarea {
	border: none;
	outline:none;
	-webkit-appearance: none; 
}
img{
	border:none;
	vertical-align: middle;
}
/*去除active高亮框*/
input, textarea, button, a{ 
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
input{
	vertical-align: middle;
}

html {
	font-size: 40px;
}
body{
	background:#eae7e7;
	color:#323232;
	font-family:'Microsoft YaHei',Arial;
	/*font-size:0.14rem;*/
	overflow: auto;
}
a{
	color:#323232;
}
img {
	max-width: 100%;
}
input{
	color:#323232;
}
h1,h2,h3{
	/*font-size:.184rem;*/
}
.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

