.badge-mine {
    font-size: 12px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    text-shadow: none;
    font-weight: normal;
    line-height: 15px;
}

/*红色*/
.bg-red-500 {
    background-color: rgb(244, 67, 54);
    color: rgb(255, 255, 255);
}

.bg-red-50 {
    background-color: rgb(255, 235, 238);
    color: rgb(89, 103, 107);
}

.bg-red-100 {
    background-color: rgb(255, 235, 238);
    color: rgb(89, 103, 107);
}

.bg-red-200 {
    background-color: rgb(239, 154, 154);
    color: rgb(89, 103, 107);
}

.bg-red-300 {
    background-color: rgb(229, 115, 115);
    color: rgb(89, 103, 107);
}

.bg-red-400 {
    background-color: rgb(239, 83, 80);
    color: rgb(89, 103, 107);
}

.bg-red-500 {
    background-color: rgb(244, 67, 54);
    color: rgb(255, 255, 255);
}

.bg-red-600 {
    background-color: rgb(229, 57, 53);
    color: rgb(255, 255, 255);
}

.bg-red-700 {
    background-color: rgb(211, 47, 47);
    color: rgb(255, 255, 255);
}

.bg-red-800 {
    background-color: rgb(198, 40, 40);
    color: rgba(255, 255, 255, 0.973);
}

.bg-red-900 {
    background-color: rgb(183, 28, 28);
    color: rgba(255, 255, 255, 0.973);
}

/*粉红色*/

.bg-pink-500 {
    background-color: rgb(233, 30, 99);
    color: rgb(255, 255, 255);
}

.bg-pink-50 {
    background-color: rgb(252, 228, 236);
    color: rgb(89, 103, 107);
}

.bg-pink-100 {
    background-color: rgb(248, 187, 208);
    color: rgb(89, 103, 107);
}

.bg-pink-200 {
    background-color: rgb(239, 154, 154);
    color: rgb(89, 103, 107);
}

.bg-pink-300 {
    background-color: rgb(240, 98, 146);
    color: rgb(89, 103, 107);
}

.bg-pink-400 {
    background-color: rgb(236, 64, 122);
    color: rgb(89, 103, 107);
}

.bg-pink-500 {
    background-color: rgb(233, 30, 99);
    color: rgb(255, 255, 255);
}

.bg-pink-600 {
    background-color: rgb(216, 27, 96);
    color: rgb(255, 255, 255);
}

.bg-pink-700 {
    background-color: rgb(194, 24, 91);
    color: rgb(255, 255, 255);
}

.bg-pink-800 {
    background-color: rgb(173, 20, 87);
    color: rgba(255, 255, 255, 0.973);
}

.bg-pink-900 {
    background-color: rgb(136, 14, 79);
    color: rgba(255, 255, 255, 0.973);
}

/*紫色*/
.bg-purple-500 {
    background-color: rgb(156, 39, 176);
    color: rgba(255, 255, 255, 0.973);
}

.bg-purple-50 {
    background-color: rgb(243, 229, 245);
    color: rgb(89, 103, 107);
}

.bg-purple-100 {
    background-color: rgb(225, 190, 231);
    color: rgb(89, 103, 107);
}

.bg-purple-200 {
    background-color: rgb(206, 147, 216);
    color: rgb(89, 103, 107);
}

.bg-purple-300 {
    background-color: rgb(186, 104, 200);
    color: rgb(89, 103, 107);
}

.bg-purple-400 {
    background-color: rgb(171, 71, 188);
    color: rgb(89, 103, 107);
}

.bg-purple-500 {
    background-color: rgb(156, 39, 176);
    color: rgb(255, 255, 255);
}

.bg-purple-600 {
    background-color: rgb(142, 36, 170);
    color: rgb(255, 255, 255);
}

.bg-purple-700 {
    background-color: rgb(123, 31, 162);
    color: rgb(255, 255, 255);
}

.bg-purple-800 {
    background-color: rgb(106, 27, 154);
    color: rgba(255, 255, 255, 0.973);
}

.bg-purple-900 {
    background-color: rgb(74, 20, 140);
    color: rgba(255, 255, 255, 0.973);
}

/*深紫色*/
.bg-deep-purple-500 {
    background-color: rgb(103, 58, 183);
    color: rgba(255, 255, 255, 0.973);
}

.bg-deep-purple-50 {
    background-color: rgb(237, 231, 246);
    color: rgb(89, 103, 107);
}

.bg-deep-purple-100 {
    background-color: rgb(209, 196, 233);
    color: rgb(89, 103, 107);
}

.bg-deep-purple-200 {
    background-color: rgb(179, 157, 219);
    color: rgb(89, 103, 107);
}

.bg-deep-purple-300 {
    background-color: rgb(149, 117, 205);
    color: rgb(89, 103, 107);
}

.bg-deep-purple-400 {
    background-color: rgb(149, 117, 205);
    color: rgb(89, 103, 107);
}

.bg-deep-purple-500 {
    background-color: rgb(103, 58, 183);
    color: rgb(255, 255, 255);
}

.bg-deep-purple-600 {
    background-color: rgb(94, 53, 177);
    color: rgb(255, 255, 255);
}

.bg-deep-purple-700 {
    background-color: rgb(81, 45, 168);
    color: rgb(255, 255, 255);
}

.bg-deep-purple-800 {
    background-color: rgb(69, 39, 160);
    color: rgba(255, 255, 255, 0.973);
}

.bg-deep-purple-900 {
    background-color: rgb(49, 27, 146);
    color: rgba(255, 255, 255, 0.973);
}

/*靛蓝*/
.bg-indigo-500 {
    background-color: rgb(63, 81, 181);
    color: rgba(255, 255, 255, 0.973);
}

.bg-indigo-50 {
    background-color: rgb(232, 234, 246);
    color: rgb(89, 103, 107);
}

.bg-indigo-100 {
    background-color: rgb(197, 202, 233);
    color: rgb(89, 103, 107);
}

.bg-indigo-200 {
    background-color: rgb(197, 202, 233);
    color: rgb(89, 103, 107);
}

.bg-indigo-300 {
    background-color: rgb(121, 134, 203);
    color: rgb(89, 103, 107);
}

.bg-indigo-400 {
    background-color: rgb(92, 107, 192);
    color: rgb(89, 103, 107);
}

.bg-indigo-500 {
    background-color: rgb(63, 81, 181);
    color: rgb(255, 255, 255);
}

.bg-indigo-600 {
    background-color: rgb(57, 73, 171);
    color: rgb(255, 255, 255);
}

.bg-indigo-700 {
    background-color: rgb(48, 63, 159);
    color: rgb(255, 255, 255);
}

.bg-indigo-800 {
    background-color: rgb(40, 53, 147);
    color: rgba(255, 255, 255, 0.973);
}

.bg-indigo-900 {
    background-color: rgb(26, 35, 126);
    color: rgba(255, 255, 255, 0.973);
}

/*蓝色*/
.bg-blue-500 {
    background-color: rgb(33, 150, 243);
    color: rgba(255, 255, 255, 0.973);
}

.bg-blue-50 {
    background-color: rgb(227, 242, 253);
    color: rgb(89, 103, 107);
}

.bg-blue-100 {
    background-color: rgb(187, 222, 251);
    color: rgb(89, 103, 107);
}

.bg-blue-200 {
    background-color: rgb(144, 202, 249);
    color: rgb(89, 103, 107);
}

.bg-blue-300 {
    background-color: rgb(121, 134, 203);
    color: rgb(89, 103, 107);
}

.bg-blue-400 {
    background-color: rgb(66, 165, 245);
    color: rgb(89, 103, 107);
}

.bg-blue-500 {
    background-color: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
}

.bg-blue-600 {
    background-color: rgb(30, 136, 229);
    color: rgb(255, 255, 255);
}

.bg-blue-700 {
    background-color: rgb(25, 118, 210);
    color: rgb(255, 255, 255);
}

.bg-blue-800 {
    background-color: rgb(21, 101, 192);
    color: rgba(255, 255, 255, 0.973);
}

.bg-blue-900 {
    background-color: rgb(13, 71, 161);
    color: rgba(255, 255, 255, 0.973);
}

/*light-blue*/

.bg-light-blue-50 {
    background-color: rgb(225, 245, 254);
    color: rgb(89, 103, 107);
}

.bg-light-blue-100 {
    background-color: rgb(179, 229, 252);
    color: rgb(89, 103, 107);
}

.bg-light-blue-200 {
    background-color: rgb(129, 212, 250);
    color: rgb(89, 103, 107);
}

.bg-light-blue-300 {
    background-color: rgb(79, 195, 247);
    color: rgb(89, 103, 107);
}

.bg-light-blue-400 {
    background-color: rgb(41, 182, 246);
    color: rgb(89, 103, 107);
}

.bg-light-blue-500 {
    background-color: rgb(3, 169, 244);
    color: rgb(255, 255, 255);
}

.bg-light-blue-600 {
    background-color: rgb(3, 155, 229);
    color: rgb(255, 255, 255);
}

.bg-light-blue-700 {
    background-color: rgb(2, 136, 209);
    color: rgb(255, 255, 255);
}

.bg-light-blue-800 {
    background-color: rgb(2, 119, 189);
    color: rgba(255, 255, 255, 0.973);
}

.bg-light-blue-900 {
    background-color: rgb(2, 119, 189);
    color: rgba(255, 255, 255, 0.973);
}

/*青色*/
.bg-cyan-50 {
    background-color: rgb(224, 247, 250);
    color: rgb(89, 103, 107);
}

.bg-cyan-100 {
    background-color: rgb(178, 235, 242);
    color: rgb(89, 103, 107);
}

.bg-cyan-200 {
    background-color: rgb(178, 235, 242);
    color: rgb(89, 103, 107);
}

.bg-cyan-300 {
    background-color: rgb(77, 208, 225);
    color: rgb(89, 103, 107);
}

.bg-cyan-400 {
    background-color: rgb(38, 198, 218);
    color: rgb(89, 103, 107);
}

.bg-cyan-500 {
    background-color: rgb(0, 188, 212);
    color: rgb(255, 255, 255);
}

.bg-cyan-600 {
    background-color: rgb(0, 172, 193);
    color: rgb(255, 255, 255);
}

.bg-cyan-700 {
    background-color: rgb(0, 151, 167);
    color: rgb(255, 255, 255);
}

.bg-cyan-800 {
    background-color: rgb(0, 131, 143);
    color: rgba(255, 255, 255, 0.973);
}

.bg-cyan-900 {
    background-color: rgb(0, 131, 143);
    color: rgba(255, 255, 255, 0.973);
}

/*teal*/
.bg-teal-50 {
    background-color: rgb(224, 242, 241);
    color: rgb(89, 103, 107);
}

.bg-teal-100 {
    background-color: rgb(178, 223, 219);
    color: rgb(89, 103, 107);
}

.bg-teal-200 {
    background-color: rgb(128, 203, 196);
    color: rgb(89, 103, 107);
}

.bg-teal-300 {
    background-color: rgb(77, 182, 172);
    color: rgb(89, 103, 107);
}

.bg-teal-400 {
    background-color: rgb(38, 166, 154);
    color: rgb(89, 103, 107);
}

.bg-teal-500 {
    background-color: rgb(0, 150, 136);
    color: rgb(255, 255, 255);
}

.bg-teal-600 {
    background-color: rgb(0, 137, 123);
    color: rgb(255, 255, 255);
}

.bg-teal-700 {
    background-color: rgb(0, 121, 107);
    color: rgb(255, 255, 255);
}

.bg-teal-800 {
    background-color: rgb(0, 121, 107);
    color: rgba(255, 255, 255, 0.973);
}

.bg-teal-900 {
    background-color: rgb(0, 77, 64);
    color: rgba(255, 255, 255, 0.973);
}

/*绿色*/
.bg-green-50 {
    background-color: rgb(232, 245, 233);
    color: rgb(89, 103, 107);
}

.bg-green-100 {
    background-color: rgb(232, 245, 233);
    color: rgb(89, 103, 107);
}

.bg-green-200 {
    background-color: rgb(165, 214, 167);
    color: rgb(89, 103, 107);
}

.bg-green-300 {
    background-color: rgb(129, 199, 132);
    color: rgb(89, 103, 107);
}

.bg-green-400 {
    background-color: rgb(102, 187, 106);
    color: rgb(89, 103, 107);
}

.bg-green-500 {
    background-color: rgb(76, 175, 80);
    color: rgb(255, 255, 255);
}

.bg-green-600 {
    background-color: rgb(67, 160, 71);
    color: rgb(255, 255, 255);
}

.bg-green-700 {
    background-color: rgb(56, 142, 60);
    color: rgb(255, 255, 255);
}

.bg-green-800 {
    background-color: rgb(46, 125, 50);
    color: rgba(255, 255, 255, 0.973);
}

.bg-green-900 {
    background-color: rgb(27, 94, 32);
    color: rgba(255, 255, 255, 0.973);
}

/*light-green*/
.bg-light-green-50 {
    background-color: rgb(241, 248, 233);
    color: rgb(89, 103, 107);
}

.bg-light-green-100 {
    background-color: rgb(220, 237, 200);
    color: rgb(89, 103, 107);
}

.bg-light-green-200 {
    background-color: rgb(197, 225, 165);
    color: rgb(89, 103, 107);
}

.bg-light-green-300 {
    background-color: rgb(174, 213, 129);
    color: rgb(89, 103, 107);
}

.bg-light-green-400 {
    background-color: rgb(174, 213, 129);
    color: rgb(89, 103, 107);
}

.bg-light-green-500 {
    background-color: rgb(139, 195, 74);
    color: rgb(255, 255, 255);
}

.bg-light-green-600 {
    background-color: rgb(124, 179, 66);
    color: rgb(255, 255, 255);
}

.bg-light-green-700 {
    background-color: rgb(104, 159, 56);
    color: rgb(255, 255, 255);
}

.bg-light-green-800 {
    background-color: rgb(85, 139, 47);
    color: rgba(255, 255, 255, 0.973);
}

.bg-light-green-900 {
    background-color: rgb(51, 105, 30);
    color: rgba(255, 255, 255, 0.973);
}

/*绿黄色*/

.bg-lime-50 {
    background-color: rgb(249, 251, 231);
    color: rgb(89, 103, 107);
}

.bg-lime-100 {
    background-color: rgb(240, 244, 195);
    color: rgb(89, 103, 107);
}

.bg-lime-200 {
    background-color: rgb(230, 238, 156);
    color: rgb(89, 103, 107);
}

.bg-lime-300 {
    background-color: rgb(220, 231, 117);
    color: rgb(89, 103, 107);
}

.bg-lime-400 {
    background-color: rgb(212, 225, 87);
    color: rgb(89, 103, 107);
}

.bg-lime-500 {
    background-color: rgb(205, 220, 57);
    color: rgb(255, 255, 255);
}

.bg-lime-600 {
    background-color: rgb(192, 202, 51);
    color: rgb(255, 255, 255);
}

.bg-lime-700 {
    background-color: rgb(175, 180, 43);
    color: rgb(255, 255, 255);
}

.bg-lime-800 {
    background-color: rgb(158, 157, 36);
    color: rgba(255, 255, 255, 0.973);
}

.bg-lime-900 {
    background-color: rgb(130, 119, 23);
    color: rgba(255, 255, 255, 0.973);
}

/*黄色*/

.bg-yellow-50 {
    background-color: rgb(255, 253, 231);
    color: rgb(89, 103, 107);
}

.bg-yellow-100 {
    background-color: rgb(255, 249, 196);
    color: rgb(89, 103, 107);
}

.bg-yellow-200 {
    background-color: rgb(255, 245, 157);
    color: rgb(89, 103, 107);
}

.bg-yellow-300 {
    background-color: rgb(255, 241, 118);
    color: rgb(89, 103, 107);
}

.bg-yellow-400 {
    background-color: rgb(255, 238, 88);
    color: rgb(89, 103, 107);
}

.bg-yellow-500 {
    background-color: rgb(255, 238, 88);
    color: rgb(255, 255, 255);
}

.bg-yellow-600 {
    background-color: rgb(253, 216, 53);
    color: rgb(255, 255, 255);
}

.bg-yellow-700 {
    background-color: rgb(251, 192, 45);
    color: rgb(255, 255, 255);
}

.bg-yellow-800 {
    background-color: rgb(249, 168, 37);
    color: rgba(255, 255, 255, 0.973);
}

.bg-yellow-900 {
    background-color: rgb(245, 127, 23);
    color: rgba(255, 255, 255, 0.973);
}

/*琥珀色*/
.bg-amber-50 {
    background-color: rgb(255, 248, 225);
    color: rgb(89, 103, 107);
}

.bg-amber-100 {
    background-color: rgb(255, 236, 179);
    color: rgb(89, 103, 107);
}

.bg-amber-200 {
    background-color: rgb(255, 236, 179);
    color: rgb(89, 103, 107);
}

.bg-amber-300 {
    background-color: rgb(255, 213, 79);
    color: rgb(89, 103, 107);
}

.bg-amber-400 {
    background-color: rgb(255, 202, 40);
    color: rgb(89, 103, 107);
}

.bg-amber-500 {
    background-color: rgb(255, 193, 7);
    color: rgb(255, 255, 255);
}

.bg-amber-600 {
    background-color: rgb(255, 179, 0);
    color: rgb(255, 255, 255);
}

.bg-amber-700 {
    background-color: rgb(255, 160, 0);
    color: rgb(255, 255, 255);
}

.bg-amber-800 {
    background-color: rgb(255, 160, 0);
    color: rgba(255, 255, 255, 0.973);
}

.bg-amber-900 {
    background-color: rgb(255, 111, 0);
    color: rgba(255, 255, 255, 0.973);
}

/*橙色*/
.bg-orange-50 {
    background-color: rgb(255, 243, 224);
    color: rgb(89, 103, 107);
}

.bg-orange-100 {
    background-color: rgb(255, 224, 178);
    color: rgb(89, 103, 107);
}

.bg-orange-200 {
    background-color: rgb(255, 204, 128);
    color: rgb(89, 103, 107);
}

.bg-orange-300 {
    background-color: rgb(255, 183, 77);
    color: rgb(89, 103, 107);
}

.bg-orange-400 {
    background-color: rgb(255, 167, 38);
    color: rgb(89, 103, 107);
}

.bg-orange-500 {
    background-color: rgb(255, 152, 0);
    color: rgb(255, 255, 255);
}

.bg-orange-600 {
    background-color: rgb(251, 140, 0);
    color: rgb(255, 255, 255);
}

.bg-orange-700 {
    background-color: rgb(245, 124, 0);
    color: rgb(255, 255, 255);
}

.bg-orange-800 {
    background-color: rgb(245, 124, 0);
    color: rgba(255, 255, 255, 0.973);
}

.bg-orange-900 {
    background-color: rgb(230, 81, 0);
    color: rgba(255, 255, 255, 0.973);
}

/*deep-orange*/
.bg-deep-orange-50 {
    background-color: rgb(251, 233, 231);
    color: rgb(89, 103, 107);
}

.bg-deep-orange-100 {
    background-color: rgb(255, 204, 188);
    color: rgb(89, 103, 107);
}

.bg-deep-orange-200 {
    background-color: rgb(255, 171, 145);
    color: rgb(89, 103, 107);
}

.bg-deep-orange-300 {
    background-color: rgb(255, 138, 101);
    color: rgb(89, 103, 107);
}

.bg-deep-orange-400 {
    background-color: rgb(255, 112, 67);
    color: rgb(89, 103, 107);
}

.bg-deep-orange-500 {
    background-color: rgb(255, 87, 34);
    color: rgb(255, 255, 255);
}

.bg-deep-orange-600 {
    background-color: rgb(244, 81, 30);
    color: rgb(255, 255, 255);
}

.bg-deep-orange-700 {
    background-color: rgb(230, 74, 25);
    color: rgb(255, 255, 255);
}

.bg-deep-orange-800 {
    background-color: rgb(216, 67, 21);
    color: rgba(255, 255, 255, 0.973);
}

.bg-deep-orange-900 {
    background-color: rgb(191, 54, 12);
    color: rgba(255, 255, 255, 0.973);
}

/*棕色*/
.bg-brown-50 {
    background-color: rgb(239, 235, 233);
    color: rgb(89, 103, 107);
}

.bg-brown-100 {
    background-color: rgb(215, 204, 200);
    color: rgb(89, 103, 107);
}

.bg-brown-200 {
    background-color: rgb(188, 170, 164);
    color: rgb(89, 103, 107);
}

.bg-brown-300 {
    background-color: rgb(161, 136, 127);
    color: rgb(89, 103, 107);
}

.bg-brown-400 {
    background-color: rgb(141, 110, 99);
    color: rgb(89, 103, 107);
}

.bg-brown-500 {
    background-color: rgb(121, 85, 72);
    color: rgb(255, 255, 255);
}

.bg-brown-600 {
    background-color: rgb(109, 76, 65);
    color: rgb(255, 255, 255);
}

.bg-brown-700 {
    background-color: rgb(109, 76, 65);
    color: rgb(255, 255, 255);
}

.bg-brown-800 {
    background-color: rgb(78, 52, 46);
    color: rgba(255, 255, 255, 0.973);
}

.bg-brown-900 {
    background-color: rgb(62, 39, 35);
    color: rgba(255, 255, 255, 0.973);
}

/*蓝灰色*/

.bg-blue-grey-50 {
    background-color: rgb(236, 239, 241);
    color: rgb(89, 103, 107);
}

.bg-blue-grey-100 {
    background-color: rgb(236, 239, 241);
    color: rgb(89, 103, 107);
}

.bg-blue-grey-200 {
    background-color: rgb(176, 190, 197);
    color: rgb(89, 103, 107);
}

.bg-blue-grey-300 {
    background-color: rgb(144, 164, 174);
    color: rgb(89, 103, 107);
}

.bg-blue-grey-400 {
    background-color: rgb(120, 144, 156);
    color: rgb(89, 103, 107);
}

.bg-blue-grey-500 {
    background-color: rgb(96, 125, 139);
    color: rgb(255, 255, 255);
}

.bg-blue-grey-600 {
    background-color: rgb(84, 110, 122);
    color: rgb(255, 255, 255);
}

.bg-blue-grey-700 {
    background-color: rgb(69, 90, 100);
    color: rgb(255, 255, 255);
}

.bg-blue-grey-800 {
    background-color: rgb(69, 90, 100);
    color: rgba(255, 255, 255, 0.973);
}

.bg-blue-grey-900 {
    background-color: rgb(69, 90, 100);
    color: rgba(255, 255, 255, 0.973);
}

/*灰色*/
.bg-grey-50 {
    background-color: rgb(250, 250, 250);
    color: rgb(89, 103, 107);
}

.bg-grey-100 {
    background-color: rgb(245, 245, 245);
    color: rgb(89, 103, 107);
}

.bg-grey-200 {
    background-color: rgb(238, 238, 238);
    color: rgb(89, 103, 107);
}

.bg-grey-300 {
    background-color: rgb(224, 224, 224);
    color: rgb(89, 103, 107);
}

.bg-grey-400 {
    background-color: rgb(189, 189, 189);
    color: rgb(89, 103, 107);
}

.bg-grey-500 {
    background-color: rgb(158, 158, 158);
    color: rgb(255, 255, 255);
}

.bg-grey-600 {
    background-color: rgb(117, 117, 117);
    color: rgb(255, 255, 255);
}

.bg-grey-700 {
    background-color: rgb(97, 97, 97);
    color: rgb(255, 255, 255);
}

.bg-grey-800 {
    background-color: rgb(66, 66, 66);
    color: rgba(255, 255, 255, 0.973);
}

.bg-grey-900 {
    background-color: rgb(33, 33, 33);
    color: rgba(255, 255, 255, 0.973);
}